abi3info==2024.10.26
attrs==24.2.0
cattrs==24.1.2
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
kaitaistruct==0.10
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.1
pefile==2024.8.26
platformdirs==4.3.6
pyelftools==0.31
pygments==2.18.0
requests==2.32.3
requests-cache==1.2.1
rich==13.9.4
six==1.16.0
url-normalize==1.4.3
urllib3==2.2.3
