abi3info==2025.4.29
attrs==25.3.0
cattrs==25.1.1
certifi==2025.6.15
charset-normalizer==3.4.2
idna==3.10
kaitaistruct==0.10
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.2
pefile==2024.8.26
platformdirs==4.3.8
pyelftools==0.32
pygments==2.19.1
requests==2.32.4
requests-cache==1.2.1
rich==13.9.4
typing-extensions==4.14.0
url-normalize==2.2.1
urllib3==2.5.0
