attrs==25.3.0
automat==24.8.1
configobj==5.0.9
constantly==23.10.4
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
mock==5.2.0
python-magic==0.4.27
setuptools==78.0.2
six==1.17.0
standard-mailcap==3.13.0
twisted==24.11.0
typing-extensions==4.12.2
urwid==2.6.16
urwidtrees==1.0.3
wcwidth==0.2.13
zope-interface==7.2
