attrs==24.2.0
automat==24.8.1
configobj==5.0.8
constantly==23.10.4
hyperlink==21.0.0
idna==3.9
incremental==24.7.2
mock==5.1.0
python-magic==0.4.27
setuptools==74.1.2
six==1.16.0
twisted==24.7.0
typing-extensions==4.12.2
urwid==2.6.15
urwidtrees==1.0.3
wcwidth==0.2.13
zope-interface==7.0.3
