attrs==23.1.0
bracex==2.3.post1
filelock==3.12.0
jsonschema==4.17.3
markdown-it-py==2.2.0
mdurl==0.1.2
packaging==23.1
pyrsistent==0.19.3
rich==13.3.4
ruamel.yaml==0.17.21
subprocess-tee==0.4.1
wcmatch==8.4.1
