beautifulsoup4==4.13.3
brotli==1.1.0
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
defusedxml==0.7.1
humanize==4.12.1
idna==3.10
inflate64==1.0.1
multivolumefile==0.2.3
patch-ng==1.18.1
psutil==7.0.0
py7zr==0.22.0
pybcj==1.0.3
pycryptodomex==3.22.0
pyppmd==1.1.1
pyzstd==0.16.2
requests==2.32.3
semantic-version==2.10.0
soupsieve==2.6
texttable==1.7.0
typing-extensions==4.12.2
urllib3==2.3.0
