beautifulsoup4==4.13.4
brotli==1.1.0
bs4==0.0.2
certifi==2025.4.26
charset-normalizer==3.4.2
defusedxml==0.7.1
humanize==4.12.3
idna==3.10
inflate64==1.0.3
multivolumefile==0.2.3
patch-ng==1.18.1
psutil==7.0.0
py7zr==1.0.0
pybcj==1.0.6
pycryptodomex==3.23.0
pyppmd==1.2.0
pyzstd==0.17.0
requests==2.32.3
semantic-version==2.10.0
soupsieve==2.7
texttable==1.7.0
typing-extensions==4.13.2
urllib3==2.4.0
