boto3==1.34.43
botocore==1.34.43
cli-helpers==2.3.1
click==8.1.7
configobj==5.0.8
fsspec==2024.2.0
jmespath==1.0.1
prompt-toolkit==3.0.43
pyathena==3.3.0
pygments==2.17.2
python-dateutil==2.8.2
s3transfer==0.10.0
six==1.16.0
tabulate==0.9.0
tenacity==8.2.3
urllib3==2.2.0
wcwidth==0.2.13
