awscli==1.32.42
boto3==1.34.42
botocore==1.34.42
colorama==0.4.4
configobj==5.0.8
docutils==0.16
jmespath==1.0.1
prompt-toolkit==1.0.18
pyasn1==0.5.1
pygments==2.18.0
python-dateutil==2.8.2
pyyaml==6.0.1
rsa==4.7.2
s3transfer==0.10.0
six==1.16.0
urllib3==2.0.7
wcwidth==0.2.13
