annotated-types==0.6.0
arrow==1.3.0
attrs==23.1.0
aws-lambda-builders==1.40.0
aws-sam-translator==1.77.0
binaryornot==0.4.4
blinker==1.6.3
boto3==1.28.65
boto3-stubs==1.28.62
botocore==1.31.65
botocore-stubs==1.31.65
cfn-lint==0.81.0
chardet==5.2.0
charset-normalizer==3.3.0
chevron==0.14.0
click==8.1.7
cookiecutter==2.3.1
dateparser==1.1.8
docker==6.1.3
flask==2.3.3
idna==3.4
itsdangerous==2.1.2
jinja2==3.1.2
jmespath==1.0.1
jschema-to-python==1.2.3
jsonpatch==1.33
jsonpickle==3.0.2
jsonpointer==2.4
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
junit-xml==1.9
markdown-it-py==3.0.0
markupsafe==2.1.3
mdurl==0.1.2
mpmath==1.3.0
mypy-boto3-apigateway==1.28.36
mypy-boto3-cloudformation==1.28.64
mypy-boto3-ecr==1.28.45
mypy-boto3-iam==1.28.37
mypy-boto3-kinesis==1.28.36
mypy-boto3-lambda==1.28.63
mypy-boto3-s3==1.28.55
mypy-boto3-schemas==1.28.36
mypy-boto3-secretsmanager==1.28.36
mypy-boto3-signer==1.28.36
mypy-boto3-sqs==1.28.36
mypy-boto3-stepfunctions==1.28.36
mypy-boto3-sts==1.28.58
mypy-boto3-xray==1.28.64
networkx==3.1
pbr==5.11.1
pydantic==2.4.2
pydantic-core==2.10.1
pyopenssl==23.2.0
python-dateutil==2.8.2
python-slugify==8.0.1
referencing==0.30.2
regex==2023.10.3
requests==2.31.0
rich==13.5.3
rpds-py==0.10.6
ruamel-yaml==0.17.35
ruamel-yaml-clib==0.2.8
s3transfer==0.7.0
sarif-om==1.0.4
sympy==1.12
text-unidecode==1.3
tomlkit==0.12.1
types-awscrt==0.19.3
types-python-dateutil==2.8.19.14
types-s3transfer==0.7.0
tzlocal==5.0.1
urllib3==2.0.7
watchdog==3.0.0
websocket-client==1.6.4
werkzeug==3.0.0
wheel==0.41.2
