awscli==1.33.10
boto3==1.34.128
botocore==1.34.128
colorama==0.4.6
configobj==5.0.8
docutils==0.16
jmespath==1.0.1
prompt-toolkit==1.0.18
pyasn1==0.6.0
pygments==2.18.0
python-dateutil==2.9.0.post0
pyyaml==6.0.1
rsa==4.7.2
s3transfer==0.10.1
six==1.16.0
urllib3==2.2.2
wcwidth==0.2.13
