awscrt==0.23.4
colorama==0.4.6
distro==1.8.0
docutils==0.19
flit-core==3.10.1
jmespath==1.0.1
prompt-toolkit==3.0.38
python-dateutil==2.9.0
ruamel-yaml==0.17.21
ruamel-yaml-clib==0.2.8
six==1.17.0
urllib3==1.26.20
wcwidth==0.2.13
zipp==3.20.2
