beautifulsoup4==4.13.4
charset-normalizer==3.4.2
demjson3==3.0.6
idna==3.10
mutagen==1.47.0
requests==2.32.4
six==1.17.0
soupsieve==2.7
typing-extensions==4.14.0
unicode-slugify==0.1.5
unidecode==1.4.0
urllib3==2.5.0
