beautifulsoup4==4.12.2
bottle==0.12.25
cachetools==5.3.0
certifi==2023.5.7
chardet==5.1.0
charset-normalizer==3.1.0
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.18.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.0
httplib2==0.22.0
idna==3.4
iniconfig==2.0.0
lxml==4.9.2
packaging==23.1
pluggy==1.0.0
ply==3.11
protobuf==4.23.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyparsing==3.0.9
pytest==7.3.1
python-dateutil==2.8.2
python-magic==0.4.27
requests==2.31.0
rsa==4.9
soupsieve==2.4.1
uritemplate==4.1.1
urllib3==1.26.15
