attrs==22.1.0
beautifulsoup4==4.11.1
bottle==0.12.23
cachetools==5.2.0
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==2.1.1
google-api-core==2.11.0
google-api-python-client==2.69.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.57.0
httplib2==0.21.0
idna==3.4
iniconfig==1.1.1
lxml==4.9.1
packaging==22.0
pluggy==1.0.0
ply==3.11
protobuf==4.21.11
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
python-magic==0.4.27
requests==2.28.1
rsa==4.9
soupsieve==2.3.2.post1
uritemplate==4.1.1
urllib3==1.26.13
