capstone==5.0.1
contourpy==1.2.0
cycler==0.12.1
flit-core==3.9.0
fonttools==4.47.0
gnupg==2.3.1
kiwisolver==1.4.5
matplotlib==3.8.2
packaging==23.2
psutil==5.9.8
pycryptodome==3.19.1
pyparsing==3.1.1
python-dateutil==2.8.2
six==1.16.0
