attrs==23.1.0
charset-normalizer==3.3.2
colorama==0.4.6
idna==3.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
referencing==0.31.0
requests==2.31.0
rpds-py==0.13.0
ruamel-yaml==0.18.5
ruamel-yaml-clib==0.2.8
urllib3==2.1.0
