aiodogstatsd==0.16.0.post0
aiohttp==3.9.5
aiosignal==1.3.1
astunparse==1.6.3
attrs==23.2.0
bidict==0.23.1
charset-normalizer==3.3.2
colorlog==6.8.2
cssselect==1.2.0
cython==3.0.10
dill==0.3.8
frozenlist==1.4.1
fuzzyset2==0.2.3
h11==0.14.0
hdrpy==0.3.3
humanize==4.9.0
idna==3.7
influxdb==5.3.2
lxml==5.2.1
molotov==2.6
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
progressbar33==2.4
prompt-toolkit==3.0.43
psutil==5.9.8
python-dateutil==2.9.0.post0
python-engineio==4.9.0
python-socketio==5.11.2
pytz==2024.1
pyvirtualdisplay==3.0
pyyaml==6.0.1
rapidfuzz==3.8.1
requests==2.31.0
setuptools==69.5.1
simple-websocket==1.0.0
six==1.16.0
terminaltables==3.1.10
urllib3==1.26.17
urwid==2.1.2
wcwidth==0.2.13
websocket-client==1.8.0
wheel==0.43.0
wsproto==1.2.0
yarl==1.9.4
