attrs==23.1.0
boto3==1.33.2
botocore==1.33.2
docutils==0.18.1
importlib-metadata==5.2.0
jmespath==1.0.1
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
python-dateutil==2.8.2
referencing==0.31.1
rpds-py==0.13.1
s3transfer==0.8.1
urllib3==1.26.18
zipp==3.17.0
