argcomplete==3.1.2
attrs==23.1.0
boto3==1.28.58
botocore==1.31.58
docutils==0.18.1
importlib-metadata==5.2.0
jmespath==1.0.1
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
python-dateutil==2.8.2
referencing==0.30.2
rpds-py==0.10.3
s3transfer==0.7.0
urllib3==1.26.17
zipp==3.17.0
