acme==3.1.0
certbot-apache==3.1.0
certbot-nginx==3.1.0
charset-normalizer==3.4.1
configargparse==1.7
configobj==5.0.9
distro==1.9.0
idna==3.10
josepy==1.14.0
parsedatetime==2.6
pyopenssl==24.3.0
pyparsing==3.2.1
pyrfc3339==2.0.1
python-augeas==1.1.0
pytz==2024.2
requests==2.32.3
urllib3==2.3.0
