annotated-types==0.6.0
aws-sam-translator==1.81.0
boto3==1.33.6
botocore==1.33.6
jmespath==1.0.1
jschema-to-python==1.2.3
jsonpatch==1.33
jsonpickle==3.0.2
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
junit-xml==1.9
pydantic==2.5.2
pydantic-core==2.14.5
referencing==0.31.1
regex==2023.10.3
rpds-py==0.13.2
s3transfer==0.8.2
sarif-om==1.0.4
