annotated-types==0.7.0
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
dataclasses-json==0.6.7
dnspython==2.7.0
email-validator==2.2.0
gitdb==4.0.12
gitpython==3.1.44
idna==3.10
marshmallow==3.26.1
mypy-extensions==1.1.0
packaging==25.0
pycparser==2.22
pydantic==2.11.7
pydantic-core==2.33.2
pydantic-settings==2.10.0
pynacl==1.5.0
python-dotenv==1.1.0
pyyaml==6.0.2
requests==2.32.4
smmap==5.0.2
tomli==2.2.1
tomli-w==1.2.0
typing-extensions==4.14.0
typing-inspect==0.9.0
typing-inspection==0.4.1
urllib3==2.5.0
websocket-client==1.8.0
