colorama==0.4.6
decorator==5.1.1
dunamai==1.18.0
funcy==2.0
jinja2==3.1.2
jinja2-ansible-filters==1.3.2
markupsafe==2.1.3
packaging==23.1
pathspec==0.11.1
plumbum==1.8.2
prompt-toolkit==3.0.39
pydantic==1.10.11
pyyaml-include==1.3.1
questionary==1.10.0
wcwidth==0.2.6
