acme==4.0.0
attrs==25.3.0
beautifulsoup4==4.13.4
boto3==1.38.33
botocore==1.38.33
certbot==4.0.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
coloredlogs==15.0.1
configargparse==1.7.1
configobj==5.0.9
configparser==7.2.0
distro==1.9.0
dns-lexicon==3.21.1
dnspython==2.7.0
filelock==3.18.0
humanfriendly==10.0
idna==3.10
isodate==0.7.2
jmespath==1.0.1
josepy==2.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
localzone==0.9.8
lxml==5.4.0
markdown-it-py==3.0.0
mdurl==0.1.2
oci==2.9.0
parsedatetime==2.6
pem==23.1.0
platformdirs==4.3.8
prettytable==3.16.0
prompt-toolkit==3.0.51
pygments==2.19.1
pyopenssl==25.1.0
pyotp==2.9.0
pyrfc3339==2.0.1
python-dateutil==2.9.0.post0
pytz==2025.2
pyyaml==6.0.2
referencing==0.36.2
requests==2.32.4
requests-file==2.1.0
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.25.1
s3transfer==0.13.0
schedule==1.2.2
six==1.17.0
softlayer==6.2.6
soupsieve==2.7
tencentcloud-sdk-python==3.0.1397
tldextract==5.3.0
typing-extensions==4.14.0
urllib3==2.4.0
wcwidth==0.2.13
zeep==4.3.1
