acme==2.9.0
attrs==23.2.0
beautifulsoup4==4.12.3
boto3==1.34.50
botocore==1.34.50
certbot==2.9.0
charset-normalizer==3.3.2
circuitbreaker==1.4.0
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
configargparse==1.7
configobj==5.0.8
distro==1.9.0
dns-lexicon==3.17.0
dnspython==2.6.1
filelock==3.13.1
humanfriendly==10.0
idna==3.6
importlib-resources==6.1.2
isodate==0.6.1
jmespath==1.0.1
josepy==1.14.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
localzone==0.9.8
lxml==5.1.0
markdown-it-py==3.0.0
mdurl==0.1.2
oci==2.123.0
parsedatetime==2.6
pem==23.1.0
platformdirs==4.2.0
prettytable==3.10.0
prompt-toolkit==3.0.43
pygments==2.17.2
pyopenssl==24.0.0
pyotp==2.9.0
pyrfc3339==1.1
python-dateutil==2.8.2
pytz==2024.1
pyyaml==6.0.1
referencing==0.33.0
requests==2.31.0
requests-file==2.0.0
requests-toolbelt==1.0.0
rich==13.7.0
rpds-py==0.18.0
s3transfer==0.10.0
schedule==1.2.1
setuptools==69.1.1
six==1.16.0
softlayer==6.1.11
soupsieve==2.5
tldextract==5.1.1
urllib3==1.26.18
wcwidth==0.2.13
xmltodict==0.13.0
zeep==4.2.1
