aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
attrs==25.1.0
charset-normalizer==3.4.1
dnspython==2.7.0
frozenlist==1.5.0
geoip2==5.0.1
idna==3.10
maxminddb==2.6.3
multidict==6.1.0
ppdeep==20200505
propcache==0.2.1
py-tlsh==4.7.2
requests==2.32.3
tld==0.13
urllib3==2.3.0
yarl==1.18.3
