charset-normalizer==3.3.2
idna==3.4
importlib-metadata==6.8.0
linkify-it-py==2.0.2
markdown-it-py==3.0.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
myloginpath==0.0.4
plotext==5.2.8
pymysql==1.1.0
requests==2.31.0
rich==13.7.0
sqlparse==0.4.4
textual==0.41.0
textual-autocomplete==2.1.0b0
uc-micro-py==1.0.2
urllib3==2.1.0
zipp==3.17.0
