charset-normalizer==3.4.1
cython==3.0.11
idna==3.10
linkify-it-py==2.0.3
loguru==0.7.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
myloginpath==0.0.4
orjson==3.10.14
packaging==24.2
platformdirs==4.3.6
plotext==5.3.2
psutil==6.1.1
pygments==2.19.1
pymysql==1.1.1
requests==2.32.3
rich==13.9.4
setuptools==75.5.0
sqlparse==0.5.3
textual==0.89.1
textual-autocomplete==3.0.0a13
tree-sitter==0.23.2
typing-extensions==4.12.2
uc-micro-py==1.0.3
urllib3==2.3.0
zstandard==0.23.0
