appdirs==1.4.4
linkify-it-py==2.0.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
pygments==2.18.0
pyperclip==1.9.0
python-dateutil==2.9.0.post0
pytz==2024.2
pyyaml==6.0.2
rich==13.9.2
six==1.16.0
textual==0.47.1
typing-extensions==4.12.2
tzlocal==2.1
uc-micro-py==1.0.3
