click==8.2.0
greenlet==3.2.2
linkify-it-py==2.0.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
platformdirs==4.3.8
pygments==2.19.1
pyperclip==1.9.0
python-dateutil==2.9.0.post0
pyyaml==6.0.2
rich==14.0.0
six==1.17.0
sqlalchemy==2.0.40
textual==3.2.0
typing-extensions==4.13.2
tzlocal==5.3.1
uc-micro-py==1.0.3
