babel==2.13.1
beancount==2.3.6
beautifulsoup4==4.12.2
blinker==1.6.3
bottle==0.12.25
cachetools==5.3.2
chardet==5.2.0
cheroot==10.0.0
flask==3.0.0
flask-babel==4.0.0
google-api-core==2.12.0
google-api-python-client==2.105.0
google-auth==2.23.3
google-auth-httplib2==0.1.1
googleapis-common-protos==1.61.0
httplib2==0.22.0
iniconfig==2.0.0
itsdangerous==2.1.2
jaraco-functools==3.9.0
markdown2==2.4.10
more-itertools==10.1.0
pdfminer2==20151206
protobuf==4.24.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pytest==7.4.3
rsa==4.9
simplejson==3.19.2
soupsieve==2.5
uritemplate==4.1.1
werkzeug==3.0.1
