charset-normalizer==3.4.2
click==8.2.0
colorama==0.4.6
construct==2.8.8
idna==3.10
inquirerpy==0.3.4
m3u8==6.0.0
mutagen==1.47.0
pfzy==0.3.4
prompt-toolkit==3.0.51
protobuf==4.25.7
pycryptodome==3.22.0
pymp4==1.4.0
pywidevine==1.8.0
pyyaml==6.0.2
requests==2.32.3
unidecode==1.4.0
urllib3==2.4.0
wcwidth==0.2.13
yt-dlp==2025.4.30
