argcomplete==3.5.0
cachetools==5.5.0
charset-normalizer==3.3.2
google-api-core==2.19.2
google-api-python-client==2.143.0
google-api-python-client-stubs==1.27.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.65.0
httplib2==0.22.0
idna==3.8
oauthlib==3.2.2
parsedatetime==2.6
proto-plus==1.24.0
protobuf==5.28.0
pyasn1==0.6.0
pyasn1-modules==0.4.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
types-httplib2==0.22.0.20240310
types-python-dateutil==2.9.0.20240821
types-requests==2.32.0.20240712
types-vobject==0.9.8.20240310
typing-extensions==4.12.2
uritemplate==4.1.1
urllib3==2.2.2
