beautifulsoup4==4.12.3
boto3==1.34.83
botocore==1.34.83
charset-normalizer==3.3.2
ctap-keyring-device==1.0.6
fido2==0.9.3
idna==3.7
jaraco-classes==3.4.0
jaraco-context==5.3.0
jaraco-functools==4.0.0
jmespath==1.0.1
keyring==25.1.0
more-itertools==10.2.0
okta==0.0.4
pyjwt==2.8.0
pyobjc-core==10.2
pyobjc-framework-cocoa==10.2
pyobjc-framework-localauthentication==10.2
pyobjc-framework-security==10.2
python-dateutil==2.9.0.post0
requests==2.31.0
s3transfer==0.10.1
six==1.16.0
soupsieve==2.5
urllib3==1.26.18
