charset-normalizer==3.4.2
click==8.2.1
defusedxml==0.7.1
httpie==3.2.4
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.4.4
parsimonious==0.10.0
prompt-toolkit==1.0.18
pygments==2.19.1
pysocks==1.7.1
pyyaml==6.0.2
regex==2024.11.6
requests==2.32.4
requests-toolbelt==1.0.0
rich==14.0.0
setuptools==80.9.0
six==1.17.0
urllib3==2.4.0
wcwidth==0.2.13
