charset-normalizer==3.3.2
defusedxml==0.7.1
idna==3.7
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.0.5
pygments==2.18.0
pysocks==1.7.1
requests==2.32.2
requests-toolbelt==1.0.0
rich==13.7.1
setuptools==70.0.0
urllib3==2.2.2
