charset-normalizer==3.3.2
fasteners==0.19
idna==3.7
jinja2==3.1.4
markupsafe==2.1.5
multi-key-dict==2.0.3
pbr==6.0.0
python-jenkins==1.8.2
pyyaml==6.0.1
requests==2.32.3
setuptools==69.5.1
six==1.16.0
stevedore==5.2.0
urllib3==2.2.2
