certifi==2022.12.7
charset-normalizer==3.0.1
fasteners==0.18
idna==3.4
Jinja2==3.1.2
MarkupSafe==2.1.2
multi_key_dict==2.0.3
pbr==5.11.1
python-jenkins==1.7.0
requests==2.28.2
stevedore==5.0.0
urllib3==1.26.14
