ansiwrap==0.8.4
cffi==1.15.1
colorama==0.4.6
commonmark==0.9.1
cryptography==39.0.1
importlib-metadata==6.0.0
jaraco.classes==3.2.3
keyring==23.13.1
more-itertools==9.0.0
parsedatetime==2.6
pycparser==2.21
python-dateutil==2.8.2
pytz-deprecation-shim==0.1.0.post0
pyxdg==0.28
rich==12.6.0
ruamel.yaml==0.17.21
textwrap3==0.9.2
tzdata==2022.7
tzlocal==4.2
zipp==3.12.1
