attrs==25.3.0
fastjsonschema==2.21.1
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter-core==5.7.2
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
nbformat==5.10.4
packaging==25.0
platformdirs==4.3.7
pyyaml==6.0.2
referencing==0.36.2
rpds-py==0.24.0
traitlets==5.14.3
