backports.shutil_which==3.5.2
bech32==1.2.0
ConfigArgParse==1.5.3
cryptography==39.0.1
ecdsa==0.18.0
hidapi==0.13.1
keepkey==6.3.1
libagent==0.14.7
libusb1==3.0.0
lockfile==0.12.2
mnemonic==0.20
protobuf==4.21.12
PyMsgBox==1.0.9
PyNaCl==1.5.0
python-daemon==2.3.2
semver==2.13.0
Unidecode==1.3.6
wheel==0.38.4
