attrs==23.1.0
beautifulsoup4==4.12.2
boto3==1.28.11
botocore==1.31.11
certifi==2023.7.22
charset-normalizer==3.2.0
circuitbreaker==1.4.0
click==8.1.6
cryptography==41.0.2
dnspython==2.4.1
filelock==3.12.2
idna==3.4
importlib-metadata==6.8.0
isodate==0.6.1
jmespath==1.0.1
localzone==0.9.8
lxml==4.9.3
markdown-it-py==2.2.0
mdurl==0.1.2
oci==2.108.0
platformdirs==3.9.1
prettytable==3.8.0
prompt-toolkit==3.0.39
pyopenssl==23.2.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
requests-file==1.5.1
requests-toolbelt==1.0.0
rich==13.3.5
s3transfer==0.6.1
softlayer==6.1.7
soupsieve==2.4.1
tldextract==3.4.4
urllib3==1.26.16
wcwidth==0.2.6
zeep==4.2.1
zipp==3.16.2
