anyio==4.9.0
charset-normalizer==3.4.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
linode-metadata==0.3.1
markdown-it-py==3.0.0
mdurl==0.1.2
openapi3==1.8.2
packaging==25.0
pygments==2.19.1
pyyaml==6.0.2
requests==2.32.4
rich==14.0.0
sniffio==1.3.1
urllib3==2.5.0
