cachetools==5.3.2
charset-normalizer==3.3.2
dill==0.3.6
dnslib==0.9.24
dnspython==2.5.0
ecdsa==0.18.0
idna==3.6
localstack-core==3.1.0
localstack-ext==3.1.0
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==23.2
pbr==6.0.0
plux==1.5.0
pyaes==1.6.1
pyasn1==0.5.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-jose==3.3.0
requests==2.31.0
rich==13.7.0
rsa==4.9
semver==3.0.2
stevedore==5.1.0
tailer==0.4.1
urllib3==2.1.0
