build==1.2.2.post1
cachetools==6.1.0
charset-normalizer==3.4.2
click==8.2.1
dill==0.3.6
dnslib==0.9.26
dnspython==2.7.0
idna==3.10
localstack-core==4.5.0
localstack-ext==4.5.0
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==25.0
plux==1.12.1
psutil==7.0.0
pygments==2.19.1
pyjwt==2.10.1
pyotp==2.9.0
pyproject-hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pyyaml==6.0.2
requests==2.32.4
rich==14.0.0
semver==3.0.4
six==1.17.0
tabulate==0.9.0
tailer==0.4.1
urllib3==2.5.0
