build==1.2.2.post1
cachetools==5.5.0
charset-normalizer==3.4.0
click==8.1.7
dill==0.3.6
dnslib==0.9.25
dnspython==2.7.0
ecdsa==0.19.0
idna==3.10
localstack-core==4.0.1
localstack-ext==4.0.1
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.2
plux==1.12.1
psutil==6.1.0
pyaes==1.6.1
pyasn1==0.6.1
pygments==2.18.0
pyotp==2.9.0
pyproject-hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.3.0
pyyaml==6.0.2
requests==2.32.3
rich==13.9.4
rsa==4.9
semver==3.0.2
six==1.16.0
tabulate==0.9.0
tailer==0.4.1
urllib3==2.2.3
