attrs==24.2.0
autobahn==24.4.2
automat==24.8.1
click==8.1.7
constantly==23.10.4
humanize==4.10.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
iterable-io==1.0.0
pyasn1==0.6.1
pyasn1-modules==0.4.1
pynacl==1.5.0
pyopenssl==24.2.1
service-identity==24.1.0
setuptools==75.1.0
spake2==0.9
tqdm==4.66.5
twisted==24.7.0
txaio==23.1.1
txtorcon==24.8.0
typing-extensions==4.12.2
zipstream-ng==1.7.1
zope-interface==7.0.3
