attrs==23.1.0
autobahn==23.6.2
automat==22.10.0
click==8.1.7
constantly==15.1.0
hkdf==0.0.3
humanize==4.8.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pynacl==1.5.0
pyopenssl==23.3.0
service-identity==23.1.0
spake2==0.8
tqdm==4.66.1
twisted==23.8.0
txaio==23.1.1
txtorcon==23.5.0
wheel==0.41.2
zope-interface==6.1
