certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-default-group==1.2.4
cloup==2.1.2
cython==3.0.9
decorator==5.1.1
glcontext==2.5.0
idna==3.6
isosurfaces==0.1.0
manimpango==0.5.0
mapbox-earcut==1.0.1
markdown-it-py==3.0.0
mdurl==0.1.2
moderngl==5.10.0
moderngl-window==2.4.4
multipledispatch==1.0.0
networkx==3.2.1
pillow==9.5.0
pycairo==1.26.0
pydub==0.25.1
pyglet==2.0.14
pygments==2.17.2
pyobjc-core==10.2
pyobjc-framework-cocoa==10.2
pyrr==0.10.3
requests==2.31.0
rich==13.7.1
scipy==1.12.0
screeninfo==0.8.1
skia-pathops==0.8.0.post1
srt==3.5.3
svgelements==1.9.6
tqdm==4.66.2
typing-extensions==4.10.0
urllib3==2.2.1
watchdog==3.0.0
