audioop-lts==0.2.1
av==13.1.0
beautifulsoup4==4.12.3
click==8.1.8
cloup==3.0.5
cython==3.0.11
decorator==5.1.1
glcontext==3.0.0
isosurfaces==0.1.2
manimpango==0.6.0
mapbox-earcut==1.0.3
markdown-it-py==3.0.0
mdurl==0.1.2
moderngl==5.12.0
moderngl-window==3.1.1
networkx==3.4.2
pycairo==1.27.0
pydub==0.25.1
pyglet==2.1.1
pyglm==2.7.3
pygments==2.19.1
pyobjc-core==10.3.2
pyobjc-framework-cocoa==10.3.2
rich==13.9.4
screeninfo==0.8.1
skia-pathops==0.8.0.post2
soupsieve==2.6
srt==3.5.3
svgelements==1.9.6
tqdm==4.67.1
typing-extensions==4.12.2
watchdog==6.0.0
