annotated-types==0.7.0
attrs==25.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
idna==3.10
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
markdown-it-py==3.0.0
mdurl==0.1.2
pydantic==2.11.1
pydantic-core==2.33.0
pygments==2.19.1
referencing==0.36.2
requests==2.32.3
rich==14.0.0
rpds-py==0.24.0
typing-extensions==4.13.0
typing-inspection==0.4.0
urllib3==2.3.0
