jinja2==3.1.6
linkify-it-py==2.0.3
markdown-it-py==3.0.0
markupsafe==3.0.2
mdit-py-plugins==0.4.2
mdurl==0.1.2
platformdirs==4.3.7
pygments==2.19.1
rich==14.0.0
textual==3.0.1
typing-extensions==4.13.1
uc-micro-py==1.0.3
