jinja2==3.1.6
linkify-it-py==2.0.3
markdown-it-py==3.0.0
markupsafe==3.0.2
mdit-py-plugins==0.4.2
mdurl==0.1.2
platformdirs==4.3.6
pygments==2.19.1
rich==13.9.4
textual==2.1.2
typing-extensions==4.12.2
uc-micro-py==1.0.3
