alabaster==0.7.16
babel==2.14.0
boltons==23.1.1
bracex==2.4
charset-normalizer==3.3.2
click-extra==4.7.3
cloup==3.0.4
commentjson==0.9.0
idna==3.6
imagesize==1.4.1
jinja2==3.1.3
lark-parser==0.7.8
mergedeep==1.3.4
packageurl-python==0.13.4
pallets-sphinx-themes==2.1.1
pygments-ansi-color==0.3.0
regex==2023.12.25
requests==2.31.0
snowballstemmer==2.2.0
sphinx==7.2.6
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
tomli-w==1.0.0
urllib3==2.1.0
wcmatch==8.5
wcwidth==0.2.13
xmltodict==0.13.0
