ansible-compat==24.10.0
ansible-core==2.18.1
attrs==24.2.0
bracex==2.5.post1
charset-normalizer==3.4.0
click==8.1.7
click-help-colors==0.9.4
distro==1.9.0
docker-py==1.10.6
docker-pycreds==0.4.0
enrich==1.2.7
idna==3.10
jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
markdown-it-py==3.0.0
markupsafe==3.0.2
mdurl==0.1.2
molecule-vagrant==2.0.0
packaging==24.2
pluggy==1.5.0
pygments==2.18.0
python-vagrant==1.0.0
pyyaml==6.0.2
referencing==0.35.1
requests==2.32.3
resolvelib==1.0.1
rich==13.9.4
rpds-py==0.22.1
selinux==0.3.0
six==1.16.0
subprocess-tee==0.4.2
urllib3==2.2.3
wcmatch==10.0
websocket-client==1.8.0
