adb-shell==0.4.3
appdirs==1.4.4
charset-normalizer==3.2.0
click==8.1.6
cryptography==41.0.2
idna==3.4
libusb1==3.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
nskeyedunarchiver==1.5
packaging==23.1
pyahocorasick==2.0.0
pyasn1==0.5.0
pycryptodome==3.18.0
requests==2.31.0
rich==13.4.2
rsa==4.9
simplejson==3.19.1
tld==0.13
urllib3==2.0.4
iosbackup==0.9.925
