adb-shell==0.4.4
appdirs==1.4.4
charset-normalizer==3.4.2
click==8.2.1
idna==3.10
iosbackup==0.9.925
libusb1==3.3.1
markdown-it-py==3.0.0
mdurl==0.1.2
nskeyedunarchiver==1.5.2
packaging==25.0
pyahocorasick==2.1.0
pyasn1==0.6.1
pycryptodome==3.23.0
pygments==2.19.1
pyyaml==6.0.2
requests==2.32.4
rich==14.0.0
rsa==4.9.1
simplejson==3.20.1
tld==0.13.1
urllib3==2.4.0
