adb-shell==0.4.4
annotated-types==0.7.0
appdirs==1.4.4
betterproto==1.2.5
charset-normalizer==3.4.2
click==8.2.1
grpclib==0.4.8
h2==4.2.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.10
iosbackup==0.9.925
libusb1==3.3.1
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.5.0
nskeyedunarchiver==1.5
packaging==25.0
pyahocorasick==2.1.0
pyasn1==0.6.1
pycryptodome==3.23.0
pydantic==2.11.5
pydantic-core==2.33.2
pydantic-settings==2.9.1
pygments==2.19.1
python-dotenv==1.1.0
pyyaml==6.0.2
requests==2.32.2
rich==14.0.0
rsa==4.9.1
simplejson==3.20.1
stringcase==1.2.0
tld==0.13.1
typing-extensions==4.14.0
typing-inspection==0.4.1
urllib3==2.5.0
