cli-helpers==2.4.0
click==8.1.7
configobj==5.0.9
prompt-toolkit==3.0.51
pyaes==1.6.1
pyfzf==0.3.1
pygments==2.19.1
pymysql==1.1.1
pyperclip==1.9.0
sqlglot==26.16.3
sqlparse==0.5.3
tabulate==0.9.0
wcwidth==0.2.13
