argon2-cffi-bindings==21.2.0
arrow==1.2.3
attrs==23.1.0
beautifulsoup4==4.12.2
colorama==0.4.6
fastjsonschema==2.16.3
fqdn==1.5.1
gitdb==4.0.10
gitpython==3.1.31
isoduration==20.11.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-server-mathjax==0.2.6
jupyter-server-terminals==0.4.4
platformdirs==3.5.0
pyrsistent==0.19.3
python-json-logger==2.0.7
pyyaml==6.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
smmap==5.0.0
soupsieve==2.4.1
tinycss2==1.2.1
uri-template==1.2.0
webcolors==1.13
