attrs==25.3.0
charset-normalizer==3.4.2
click==8.2.1
idna==3.10
importlib-metadata==8.7.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
referencing==0.36.2
requests==2.32.4
rpds-py==0.25.1
urllib3==2.5.0
zipp==3.23.0
