arrow==1.2.3
certifi==2023.5.7
cffi==1.15.1
circuitbreaker==1.4.0
click==8.0.4
cryptography==39.0.2
jmespath==0.10.0
oci==2.102.0
prompt-toolkit==3.0.29
pycparser==2.21
pyopenssl==23.1.1
python-dateutil==2.8.2
pytz==2023.3
pyyaml==6.0
terminaltables==3.1.0
wcwidth==0.2.6
