charset-normalizer==3.2.0
coloredlogs==15.0.1
cryptography==41.0.2
deprecation==2.1.0
humanfriendly==10.0
img2pdf==0.4.4
lxml==4.9.3
packaging==23.1
pdfminer-six==20221105
pikepdf==8.1.1
pluggy==1.2.0
reportlab==4.0.4
tqdm==4.65.0
