charset-normalizer==3.3.2
deprecated==1.2.14
deprecation==2.1.0
img2pdf==0.5.1
lxml==5.3.0
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.1
pdfminer-six==20240706
pi-heif==0.18.0
pikepdf==9.2.0
pluggy==1.5.0
pygments==2.18.0
rich==13.8.0
wrapt==1.16.0
