charset-normalizer==3.3.0
deprecation==2.1.0
img2pdf==0.4.4
lxml==4.9.3
markdown-it-py==3.0.0
mdurl==0.1.2
pdfminer-six==20221105
pikepdf==8.5.0
pluggy==1.3.0
pygments==2.16.1
reportlab==4.0.5
rich==13.6.0
