aenum==3.1.15
backports-shutil-which==3.5.2
bech32==1.2.0
charset-normalizer==3.2.0
click==8.1.6
configargparse==1.5.5
cryptography==41.0.2
ecdsa==0.18.0
fido2==0.9.3
hidapi==0.14.0
idna==3.4
intelhex==2.3.0
lib-agent==1.0.6
lockfile==0.12.2
mnemonic==0.20
onlykey==1.2.10
onlykey-solo-python==0.0.32
prompt-toolkit==3.0.39
pycryptodome==3.18.0
pymsgbox==1.0.9
pynacl==1.5.0
pyserial==3.5
python-daemon==3.0.1
pyusb==1.2.1
requests==2.31.0
semver==3.0.1
unidecode==1.3.6
urllib3==2.0.4
wcwidth==0.2.6
wheel==0.40.0
