blinker==1.6.2
cachecontrol==0.12.11
certifi==2022.12.7
charset-normalizer==3.1.0
distlib==0.3.6
filelock==3.12.0
findpython==0.2.4
idna==3.4
installer==0.7.0
lockfile==0.12.2
markdown-it-py==2.2.0
mdurl==0.1.2
msgpack==1.0.5
packaging==23.1
platformdirs==3.5.0
pyproject-hooks==1.0.0
python-dotenv==1.0.0
requests==2.30.0
requests-toolbelt==1.0.0
resolvelib==1.0.1
rich==13.3.5
shellingham==1.5.0.post1
tomlkit==0.11.8
unearth==0.9.0
urllib3==1.26.15
virtualenv==20.23.0
wheel==0.40.0
