cachecontrol==0.13.1
charset-normalizer==3.2.0
cyclonedx-python-lib==4.0.1
defusedxml==0.7.1
filelock==3.12.2
html5lib==1.1
idna==3.4
markdown-it-py==3.0.0
mdurl==0.1.2
msgpack==1.0.5
packageurl-python==0.11.1
packaging==23.1
pip-api==0.0.30
pip-requirements-parser==32.0.1
py-serializable==0.11.1
pyparsing==3.1.0
requests==2.31.0
rich==13.4.2
sortedcontainers==2.4.0
toml==0.10.2
urllib3==2.0.4
webencodings==0.5.1
