certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
colorama==0.4.6
colorlog==6.7.0
cryptography==40.0.2
dacite==1.8.0
faker==18.6.0
idna==3.4
jq==1.4.1
lxml==4.9.2
mmh3==3.1.0
prettytable==3.7.0
pycparser==2.21
pycryptodomex==3.17
pyopenssl==23.1.1
pysocks==1.7.1
python-dateutil==2.8.2
requests==2.29.0
requests-toolbelt==0.10.1
scapy==2.5.0
termcolor==2.3.0
urllib3==1.26.15
wcwidth==0.2.6
