about-time==4.2.1
alive-progress==3.1.4
awsipranges==0.3.3
azure-common==1.1.28
azure-core==1.29.5
azure-identity==1.15.0
azure-mgmt-authorization==4.0.0
azure-mgmt-core==1.4.0
azure-mgmt-security==5.0.0
azure-mgmt-sql==3.0.1
azure-mgmt-storage==21.1.0
azure-mgmt-subscription==3.1.1
azure-storage-blob==12.18.3
boto3==1.26.165
botocore==1.29.165
cachetools==5.3.2
charset-normalizer==3.3.2
click-plugins==1.1.1
colorama==0.4.6
contextlib2==21.6.0
detect-secrets==1.4.0
filelock==3.13.1
google-api-core==2.14.0
google-api-python-client==2.106.0
google-auth==2.23.4
google-auth-httplib2==0.1.1
googleapis-common-protos==1.61.0
grapheme==0.6.0
httplib2==0.22.0
idna==3.4
isodate==0.6.1
jmespath==1.0.1
msal==1.25.0
msal-extensions==1.0.0
msgraph-core==0.2.2
msrest==0.7.1
oauthlib==3.2.2
portalocker==2.8.2
protobuf==4.25.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==1.10.13
pyjwt==2.8.0
python-dateutil==2.8.2
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.6.2
schema==0.7.5
shodan==1.30.1
slack-sdk==3.23.0
tldextract==5.1.0
uritemplate==4.1.1
urllib3==1.26.18
xlsxwriter==3.1.9
