about-time==4.2.1
aiohappyeyeballs==2.3.4
aiohttp==3.10.0
aiosignal==1.3.1
alive-progress==3.1.5
anyio==4.4.0
attrs==23.2.0
awsipranges==0.3.3
azure-common==1.1.28
azure-core==1.30.2
azure-identity==1.17.1
azure-keyvault-keys==4.9.0
azure-mgmt-applicationinsights==4.0.0
azure-mgmt-authorization==4.0.0
azure-mgmt-compute==32.0.0
azure-mgmt-containerservice==31.0.0
azure-mgmt-core==1.4.0
azure-mgmt-cosmosdb==9.5.1
azure-mgmt-keyvault==10.3.1
azure-mgmt-monitor==6.0.2
azure-mgmt-network==26.0.0
azure-mgmt-rdbms==10.1.0
azure-mgmt-resource==23.1.1
azure-mgmt-security==7.0.0
azure-mgmt-sql==3.0.1
azure-mgmt-storage==21.2.1
azure-mgmt-subscription==3.1.1
azure-mgmt-web==7.3.0
azure-storage-blob==12.21.0
blinker==1.8.2
boto3==1.34.151
botocore==1.34.151
cachetools==5.4.0
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
colorama==0.4.6
dash==2.17.1
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
deprecated==1.2.14
detect-secrets==1.5.0
dnspython==2.6.1
email-validator==2.1.1
filelock==3.15.4
flask==3.0.3
frozenlist==1.4.1
google-api-core==2.19.1
google-api-python-client==2.139.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.63.2
grapheme==0.6.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
hyperframe==6.0.1
idna==3.7
importlib-metadata==8.0.0
isodate==0.6.1
itsdangerous==2.2.0
jinja2==3.1.4
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kubernetes==30.1.0
markupsafe==2.1.5
microsoft-kiota-abstractions==1.3.3
microsoft-kiota-authentication-azure==1.0.0
microsoft-kiota-http==1.3.2
microsoft-kiota-serialization-form==0.1.0
microsoft-kiota-serialization-json==1.3.0
microsoft-kiota-serialization-multipart==0.1.0
microsoft-kiota-serialization-text==1.0.0
msal==1.30.0
msal-extensions==1.2.0
msgraph-core==1.1.2
msgraph-sdk==1.5.3
msrest==0.7.1
multidict==6.0.5
nest-asyncio==1.6.0
oauthlib==3.2.2
opentelemetry-api==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
packaging==24.1
pandas==2.2.2
pendulum==3.0.0
plotly==5.23.0
portalocker==2.10.1
proto-plus==1.24.0
protobuf==5.27.3
py-ocsf-models==0.1.1
pyasn1==0.6.0
pyasn1-modules==0.4.0
pydantic==1.10.15
pyjwt==2.8.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
pyyaml==6.0.1
referencing==0.35.1
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==2.0.0
retrying==1.3.4
rpds-py==0.19.1
rsa==4.9
s3transfer==0.10.2
schema==0.7.7
setuptools==72.1.0
shodan==1.31.0
six==1.16.0
slack-sdk==3.31.0
sniffio==1.3.1
std-uritemplate==1.0.5
tabulate==0.9.0
tenacity==9.0.0
time-machine==2.14.2
tldextract==5.1.2
typing-extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
uritemplate==4.1.1
urllib3==2.2.2
websocket-client==1.8.0
werkzeug==3.0.3
wrapt==1.16.0
xlsxwriter==3.2.0
yarl==1.9.4
zipp==3.19.2
