brotli==1.1.0
fast-zip-decryption==3.0.0
indexed-gzip==1.9.5
indexed-zstd==1.6.1
inflate64==1.0.3
libarchive-c==5.3
mfusepy==1.1.0
multivolumefile==0.2.3
psutil==7.0.0
py7zr==1.0.0
pybcj==1.0.6
pycryptodomex==3.23.0
pyppmd==1.2.0
python-xz==0.4.0
pyzstd==0.17.0
rapidgzip==0.14.3
rarfile==4.2
ratarmountcore==0.9.0
texttable==1.7.0
