colorama==0.4.6
housekeeping==1.1
importlib-metadata==8.6.1
importlib-resources==6.5.2
packaging==25.0
puremagic==1.28
pydiffx==1.1
six==1.17.0
texttable==1.7.0
tqdm==4.67.1
typing-extensions==4.13.2
zipp==3.21.0
