aniso8601==9.0.1
attrs==23.2.0
blinker==1.7.0
charset-normalizer==3.3.2
click==8.1.7
dicttoxml==1.7.16
dnspython==2.6.1
flasgger==0.9.7.1
flask==3.0.2
flask-restful==0.3.10
html5lib==1.1
idna==3.6
itsdangerous==2.1.2
jinja2==3.1.3
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
lxml==5.1.0
markupsafe==2.1.5
mechanize==0.4.9
mistune==3.0.2
packaging==23.2
pytz==2024.1
pyyaml==6.0.1
redis==5.0.1
referencing==0.33.0
requests==2.31.0
rpds-py==0.18.0
rq==1.15.1
six==1.16.0
unicodecsv==0.14.1
urllib3==2.2.1
webencodings==0.5.1
werkzeug==3.0.1
xlsxwriter==3.2.0
