aniso8601==10.0.1
attrs==25.3.0
blinker==1.9.0
charset-normalizer==3.4.2
click==8.2.1
dicttoxml==1.7.16
dnspython==2.7.0
flasgger==0.9.7.1
flask==3.1.1
flask-restful==0.3.10
html5lib==1.1
idna==3.10
itsdangerous==2.2.0
jinja2==3.1.6
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
lxml==5.4.0
markupsafe==3.0.2
mechanize==0.4.10
mistune==3.1.3
packaging==25.0
pytz==2025.2
pyyaml==6.0.2
redis==6.2.0
referencing==0.36.2
requests==2.32.4
rpds-py==0.25.1
rq==2.4.0
six==1.17.0
unicodecsv==0.14.1
urllib3==2.5.0
webencodings==0.5.1
werkzeug==3.1.3
xlsxwriter==3.2.5
