attrs==24.3.0
bcrypt==4.2.1
click==8.1.8
h11==0.14.0
idna==3.10
outcome==1.3.0.post0
paramiko==3.5.0
pynacl==1.5.0
pysocks==1.7.1
robotframework-archivelibrary==0.4.3
robotframework-pythonlibcore==4.4.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==6.7.0
robotframework-sshlibrary==3.8.0
scp==0.15.0
selenium==4.27.1
sniffio==1.3.1
sortedcontainers==2.4.0
trio==0.28.0
trio-websocket==0.11.1
typing-extensions==4.12.2
urllib3==2.3.0
websocket-client==1.8.0
wsproto==1.2.0
