annotated-types==0.7.0
authlib==1.4.1
charset-normalizer==3.4.1
click==8.1.8
dparse==0.6.4
filelock==3.16.1
idna==3.10
jinja2==3.1.5
joblib==1.4.2
markdown-it-py==3.0.0
markupsafe==3.0.2
marshmallow==3.26.1
mdurl==0.1.2
nltk==3.9.1
packaging==24.2
psutil==6.1.1
pydantic==2.9.2
pydantic-core==2.23.4
pygments==2.19.1
regex==2024.11.6
requests==2.32.3
rich==13.9.4
ruamel-yaml==0.18.10
safety-schemas==0.0.11
setuptools==75.8.0
shellingham==1.5.4
tqdm==4.67.1
typer==0.15.1
typing-extensions==4.12.2
urllib3==2.3.0
