attrs==23.2.0
automat==22.10.0
charset-normalizer==3.3.2
constantly==23.10.4
cssselect==1.2.0
filelock==3.13.1
hyperlink==21.0.0
idna==3.6
incremental==22.10.0
itemadapter==0.8.0
itemloaders==1.1.0
jmespath==1.0.1
parsel==1.8.1
protego==0.3.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydispatcher==2.0.7
pyopenssl==23.3.0
queuelib==1.6.2
requests==2.31.0
requests-file==1.5.1
service-identity==23.1.0
setuptools==69.0.3
tldextract==5.1.1
twisted==22.10.0
urllib3==2.1.0
w3lib==2.1.2
zope-interface==6.1
