attrs==24.2.0
boltons==21.0.0
bracex==2.5
charset-normalizer==3.3.2
click==8.1.7
click-option-group==0.5.6
colorama==0.4.6
defusedxml==0.7.1
deprecated==1.2.14
exceptiongroup==1.2.2
face==22.0.0
glom==22.1.0
googleapis-common-protos==1.63.2
idna==3.7
importlib-metadata==7.1.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
markdown-it-py==3.0.0
mdurl==0.1.2
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-http==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-requests==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
packaging==24.1
peewee==3.17.6
protobuf==4.25.4
pygments==2.18.0
referencing==0.35.1
requests==2.32.3
rich==13.7.1
rpds-py==0.20.0
ruamel-yaml==0.17.40
ruamel-yaml-clib==0.2.8
setuptools==72.2.0
tomli==2.0.1
typing-extensions==4.12.2
urllib3==2.2.2
wcmatch==8.5.2
wrapt==1.16.0
zipp==3.20.0
