attrs==23.1.0
boltons==21.0.0
bracex==2.4
charset-normalizer==3.3.2
click-option-group==0.5.6
colorama==0.4.6
defusedxml==0.7.1
exceptiongroup==1.2.0
face==22.0.0
glom==22.1.0
idna==3.6
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
markdown-it-py==3.0.0
mdurl==0.1.2
peewee==3.17.0
referencing==0.32.0
requests==2.31.0
rich==13.7.0
rpds-py==0.15.2
ruamel-yaml==0.17.40
ruamel-yaml-clib==0.2.8
tomli==2.0.1
urllib3==2.1.0
wcmatch==8.5
