annotated-types==0.7.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asciitree==0.3.3
attrs==25.3.0
chardet==4.0.0
charset-normalizer==3.4.2
click==7.1.2
click-log==0.4.0
docker==7.1.0
idna==3.10
inflection==0.5.1
joblib==1.5.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
minio==7.2.15
packaging==25.0
parsimonious==0.8.1
pglast==7.7
psycopg2-binary==2.9.10
pycryptodome==3.23.0
pydantic==2.11.4
pydantic-core==2.33.2
referencing==0.36.2
requests==2.32.3
rpds-py==0.25.1
ruamel-yaml==0.17.40
setuptools==80.8.0
six==1.17.0
sodapy==2.2.0
splitgraph-pipelinewise-target-postgres==2.1.0
tabulate==0.9.0
tqdm==4.67.1
typing-extensions==4.13.2
typing-inspection==0.4.1
urllib3==2.4.0
