annotated-types==0.6.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asciitree==0.3.3
attrs==23.2.0
chardet==4.0.0
charset-normalizer==3.3.2
click==7.1.2
click-log==0.4.0
docker==7.0.0
idna==3.7
inflection==0.5.1
joblib==1.4.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
minio==7.2.5
packaging==24.0
parsimonious==0.8.1
pglast==3.4
psycopg2-binary==2.9.9
pycryptodome==3.20.0
pydantic==2.7.0
pydantic-core==2.18.1
referencing==0.34.0
requests==2.31.0
rpds-py==0.18.0
ruamel-yaml==0.17.40
ruamel-yaml-clib==0.2.8
setuptools==69.2.0
six==1.16.0
sodapy==2.2.0
splitgraph-pipelinewise-target-postgres==2.1.0
tabulate==0.9.0
tqdm==4.66.2
typing-extensions==4.11.0
urllib3==2.2.1
