annotated-types==0.7.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asciitree==0.3.3
attrs==24.2.0
chardet==4.0.0
charset-normalizer==3.4.0
click==7.1.2
click-log==0.4.0
docker==7.1.0
idna==3.10
inflection==0.5.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
minio==7.2.9
packaging==24.1
parsimonious==0.8.1
pglast==3.18
psycopg2-binary==2.9.10
pycryptodome==3.21.0
pydantic==2.9.2
pydantic-core==2.23.4
referencing==0.35.1
requests==2.32.3
rpds-py==0.20.0
ruamel-yaml==0.17.40
setuptools==75.2.0
six==1.16.0
sodapy==2.2.0
splitgraph-pipelinewise-target-postgres==2.1.0
tabulate==0.9.0
tqdm==4.66.5
typing-extensions==4.12.2
urllib3==2.2.3
