charset-normalizer==3.4.2
colorama==0.4.6
et-xmlfile==2.0.0
idna==3.10
openpyxl==3.1.5
pandas==2.3.0
pysocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
requests-futures==1.0.2
six==1.17.0
stem==1.8.2
tzdata==2025.2
urllib3==2.4.0
