charset-normalizer==3.3.2
colorama==0.4.6
et-xmlfile==1.1.0
exrex==0.11.0
idna==3.7
openpyxl==3.1.2
pandas==2.2.2
pysocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.2
requests-futures==1.0.1
six==1.16.0
stem==1.8.2
torrequest==0.1.0
tzdata==2024.1
urllib3==2.2.1
