annotated-types==0.6.0
appdirs==1.4.4
betterproto==2.0.0b6
charset-normalizer==3.3.1
dnspython==2.4.2
email-validator==2.1.0.post1
grpclib==0.4.6
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
id==1.1.0
idna==3.4
multidict==6.0.4
pydantic==2.4.2
pydantic-core==2.10.1
pyjwt==2.8.0
pyopenssl==23.2.0
python-dateutil==2.8.2
requests==2.31.0
securesystemslib==0.30.0
sigstore-protobuf-specs==0.2.2
sigstore-rekor-types==0.0.11
tuf==3.1.0
urllib3==2.0.7
