annotated-types==0.7.0
betterproto==2.0.0b6
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==43.0.3
dnspython==2.7.0
email-validator==2.2.0
grpclib==0.4.7
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
id==1.5.0
idna==3.10
markdown-it-py==3.0.0
maturin==1.7.8
mdurl==0.1.2
multidict==6.1.0
platformdirs==4.3.6
pyasn1==0.6.1
pycparser==2.22
pydantic==2.10.3
pydantic-core==2.27.1
pygments==2.18.0
pyjwt==2.10.1
pyopenssl==24.3.0
python-dateutil==2.9.0.post0
requests==2.32.3
rfc3161-client==0.0.4
rfc8785==0.1.4
rich==13.9.4
securesystemslib==1.2.0
sigstore-protobuf-specs==0.3.2
sigstore-rekor-types==0.0.18
six==1.17.0
tuf==5.1.0
typing-extensions==4.12.2
urllib3==2.2.3
