appdirs==1.4.4
attrs==23.1.0
charset-normalizer==3.3.0
configargparse==1.7
connection-pool==0.0.3
datrie==0.8.2
dpath==2.1.6
fastjsonschema==2.18.1
gitdb==4.0.10
gitpython==3.1.40
humanfriendly==10.0
idna==3.4
jinja2==3.1.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter-core==5.4.0
nbformat==5.9.2
plac==1.4.0
platformdirs==3.11.0
pulp==2.7.0
referencing==0.30.2
requests==2.31.0
reretry==0.11.8
rpds-py==0.10.6
smart-open==6.4.0
smmap==5.0.1
stopit==1.1.2
throttler==1.2.2
toposort==1.10
traitlets==5.11.2
urllib3==2.0.7
wrapt==1.15.0
yte==1.5.1
