setuptools==65.7.0
attrs==23.1.0
catkin-pkg==0.5.2
charset-normalizer==3.2.0
click==8.1.6
craft-archives==1.1.3
craft-cli==2.0.1
craft-grammar==1.1.1
craft-parts==1.23.0
craft-providers==1.14.1
craft-store==2.4.0
deprecated==1.2.14
distro==1.8.0
docutils==0.19
gnupg==2.3.1
httplib2==0.22.0
idna==3.4
importlib-metadata==6.8.0
jaraco-classes==3.3.0
jsonschema==2.5.1
keyring==24.2.0
launchpadlib==1.11.0
lazr-restfulclient==0.14.5
lazr-uri==1.0.6
macaroonbakery==1.3.1
more-itertools==10.1.0
mypy-extensions==1.0.0
oauthlib==3.2.2
overrides==7.4.0
platformdirs==3.10.0
progressbar==2.5
protobuf==3.20.3
psutil==5.9.5
pycparser==2.21
pydantic==1.10.12
pydantic-yaml==0.11.2
pyelftools==0.29
pymacaroons==0.13.0
pynacl==1.5.0
pyparsing==3.1.1
pyrfc3339==1.1
python-dateutil==2.8.2
pyxdg==0.28
raven==6.10.0
requests==2.31.0
requests-toolbelt==1.0.0
requests-unixsocket==0.3.0
simplejson==3.19.1
snap-helpers==0.4.2
tinydb==4.8.0
toml==0.10.2
types-deprecated==1.2.9.3
types-pyyaml==6.0.12.11
urllib3==1.26.16
wadllib==1.3.6
wrapt==1.15.0
zipp==3.16.2
