babelfish==0.6.1
beautifulsoup4==4.13.4
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
click-option-group==0.5.7
decorator==5.2.1
defusedxml==0.7.1
dogpile-cache==1.4.0
enzyme==0.5.2
flexcache==0.3
flexparser==0.4
guessit==3.8.0
idna==3.10
knowit==0.5.6
pbr==6.1.1
pint==0.24.4
platformdirs==4.3.8
pymediainfo==6.1.0
pysubs2==1.8.0
python-dateutil==2.9.0.post0
pyyaml==6.0.2
rebulk==3.2.0
requests==2.32.4
setuptools==80.9.0
six==1.17.0
soupsieve==2.7
srt==3.5.3
stevedore==5.4.1
tomlkit==0.13.3
trakit==0.2.2
typing-extensions==4.14.0
urllib3==2.4.0
