argcomplete==1.10.3
beautifulsoup4==4.11.1
chardet==3.0.4
compressed-rtf==1.0.6
docx2txt==0.8
extract-msg==0.28.7
IMAPClient==2.1.0
lxml==4.9.1
olefile==0.46
pdfminer-six==20191110
pycryptodome==3.15.0
python-pptx==0.6.21
pytz-deprecation-shim==0.1.0.post0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
tzdata==2022.4
tzlocal==4.2
xlrd==1.2.0
XlsxWriter==3.0.3
