annotated-types==0.7.0
attrs==24.3.0
charset-normalizer==3.4.1
click==8.1.8
docutils==0.21.2
filelock==3.16.1
flexcache==0.3
flexparser==0.4
fmf==1.5.0
idna==3.10
jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
markupsafe==3.0.2
packaging==24.2
pint==0.24.4
platformdirs==4.3.6
pydantic==2.10.4
pydantic-core==2.27.2
pygments==2.18.0
referencing==0.35.1
requests==2.32.3
rpds-py==0.22.3
ruamel-yaml==0.18.6
typing-extensions==4.12.2
urllib3==2.3.0
