attrs==24.2.0
charset-normalizer==3.4.0
click==8.1.7
docutils==0.21.2
filelock==3.16.1
flexcache==0.3
flexparser==0.4
idna==3.10
jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
markupsafe==3.0.2
packaging==24.2
pint==0.24.4
platformdirs==4.3.6
pygments==2.18.0
referencing==0.35.1
requests==2.32.3
rpds-py==0.21.0
ruamel-yaml==0.18.6
typing-extensions==4.12.2
urllib3==2.2.3
