annotated-types==0.7.0
attrs==25.3.0
charset-normalizer==3.4.1
click==8.1.8
docutils==0.21.2
filelock==3.18.0
flexcache==0.3
flexparser==0.4
fmf==1.7.0
idna==3.10
jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
markupsafe==3.0.2
packaging==24.2
pint==0.24.4
platformdirs==4.3.7
pydantic==2.10.6
pydantic-core==2.27.2
pygments==2.19.1
referencing==0.36.2
requests==2.32.3
rpds-py==0.24.0
ruamel-yaml==0.18.10
typing-extensions==4.13.0
urllib3==2.3.0
