beautifulsoup4==4.13.4
charset-normalizer==3.4.2
click==8.2.1
idna==3.10
python-dateutil==2.9.0.post0
requests==2.32.4
six==1.17.0
soupsieve==2.7
term-image==0.7.2
tomlkit==0.13.3
typing-extensions==4.14.0
urllib3==2.5.0
urwid==2.6.16
urwidgets==0.2.1
wcwidth==0.2.13
