boto3==1.37.9
botocore==1.37.38
click==8.1.8
dateparser==1.2.1
jmespath==1.0.1
python-dateutil==2.9.0.post0
pytz==2025.1
regex==2024.11.6
ruamel-yaml==0.18.10
s3transfer==0.11.5
setuptools==80.9.0
six==1.17.0
toolz==1.0.0
tzlocal==5.3.1
urllib3==2.5.0
