backports-shutil-which==3.5.2
bech32==1.2.0
bleak==0.20.2
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
configargparse==1.5.3
construct==2.10.68
construct-classes==0.1.2
cryptography==40.0.2
ecdsa==0.18.0
ecpy==1.2.5
future==0.18.3
hidapi==0.13.1
idna==3.4
keepkey==6.3.1
keepkey-agent==0.9.0
ledger-agent==0.9.0
ledgerblue==0.1.47
libagent==0.14.7
libusb1==3.0.0
lockfile==0.12.2
mnemonic==0.20
ndeflib==0.3.3
nfcpy==1.0.4
protobuf==4.23.1
pycryptodomex==3.18.0
pydes==2.0.1
pyelftools==0.29
pymsgbox==1.0.9
pynacl==1.5.0
pyobjc-core==9.1.1
pyobjc-framework-cocoa==9.1.1
pyobjc-framework-corebluetooth==9.1.1
pyobjc-framework-libdispatch==9.1.1
pyserial==3.5
python-daemon==3.0.1
python-u2flib-host==3.0.3
requests==2.31.0
semver==3.0.0
simple-rlp==0.1.3
trezor==0.13.6
unidecode==1.3.6
urllib3==2.0.2
websocket-client==1.5.2
wheel==0.40.0
