appdirs==1.4.4
certifi==2023.7.22
charset-normalizer==3.2.0
cssselect==1.2.0
idna==3.4
importlib-metadata==6.8.0
jaraco-classes==3.3.0
keyring==24.2.0
lxml==4.9.3
minidb==2.0.7
more-itertools==10.0.0
requests==2.31.0
urllib3==2.0.4
zipp==3.16.2
