name: Submit PRs for audit results

on:
  workflow_dispatch:
    inputs:
      pr-limit:
        required: true
        default: 5
        type: number
      dry-run:
        required: true
        default: true
        type: boolean
      ref:
        required: false
        default: ""
        type: string
  workflow_call:
    inputs:
      pr-limit:
        default: 35
        type: number
      dry-run:
        default: false # don't dry-run by default when called from another workflow
        type: boolean
      ref:
        default: ${{ github.ref }}
        type: string
    secrets:
      BREWTESTBOT_SSH_SIGNING_KEY:
        required: true
      BREW_PIP_AUDIT_GH_TOKEN:
        required: true

permissions: {}

jobs:
  auto-pr:
    runs-on: macos-latest
    timeout-minutes: 120

    steps:
      - name: Display inputs
        run: |
          echo "AUTO_PR_DRY_RUN: ${AUTO_PR_DRY_RUN}"
          echo "AUTO_PR_LIMIT: ${AUTO_PR_LIMIT}"
        env:
          AUTO_PR_DRY_RUN: ${{ inputs.dry-run }}
          AUTO_PR_LIMIT: ${{ inputs.pr-limit }}

      - name: Check out this repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
          # will expand to '' when unset in workflow_dispatch, i.e. default branch
          ref: ${{ inputs.ref }}

      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@main
        with:
          core: true
          cask: false

      - name: Cache Homebrew Bundler RubyGems
        id: cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ steps.set-up-homebrew.outputs.gems-path }}
          key: ${{ runner.os }}-rubygems-${{ steps.set-up-homebrew.outputs.gems-hash }}
          restore-keys: ${{ runner.os }}-rubygems-

      - name: Install Homebrew Bundler RubyGems
        if: steps.cache.outputs.cache-hit != 'true'
        run: brew install-bundler-gems --groups=all

      - name: Configure git
        uses: Homebrew/actions/git-user-config@main
        with:
          username: BrewTestBot

      - name: Set up commit signing
        uses: Homebrew/actions/setup-commit-signing@main
        with:
          signing_key: ${{ secrets.BREWTESTBOT_SSH_SIGNING_KEY }}

      - name: Install dependencies
        run: brew install augeas autoconf

      - name: Generate Pull Requests
        run: brew ruby generate-prs.rb
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.BREW_PIP_AUDIT_GH_TOKEN }}
          HOMEBREW_AUTO_PR_DRY_RUN: ${{ inputs.dry-run }}
          HOMEBREW_AUTO_PR_NO_FORK: true
          HOMEBREW_AUTO_PR_LIMIT: ${{ inputs.pr-limit }}
          HOMEBREW_NO_INSTALL_FROM_API: 1
          HOMEBREW_EVAL_ALL: 1
